@using System.Security.Claims

<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="mahan mahmoudi, saleh jamei, programing team, Software_SPN, website, applications, C#, SQL Server, html, css, javaScript, صالح جامعی, ماهان محمودی, ">
    <meta name="author" content, frontEnd, backEnd,
    <!-- Page Title -->
    <title>گروه برنامه نویسی SPN -حامی کسب و کار دیجیتالی شما</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Assets/images/favicon.svg")">

    <!-- Bootstrap Css -->
    <link href="@Url.Content("~/Assets/css-js/css/bootstrap.min.css")" rel="stylesheet" media="screen">
    <!-- SlickNav Css -->
    <link href="@Url.Content("~/Assets/css-js/css/slicknav.min.css")" rel="stylesheet">
    <!-- Swiper Css -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css-js/css/swiper-bundle.min.css")">
    <!-- Font Awesome Icon Css-->
    <link href="@Url.Content("~/Assets/css-js/css/all.min.css")" rel="stylesheet" media="screen">
    <!-- Animated Css -->
    <link href="@Url.Content("~/Assets/css-js/css/animate.css")" rel="stylesheet">
    <!-- Magnific Popup Core Css File -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css-js/css/magnific-popup.css")">
    <!-- Mouse Cursor Css File -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css-js/css/mousecursor.css")">
    <!-- Main Custom Css -->
    <link href="@Url.Content("~/Assets/css-js/css/custom.css")" rel="stylesheet" media="screen">

    <!-- Main Custom Css Scroll % -->
    <link href="@Url.Content("~/Assets/css-js/scrollcssjs/css/main.css")" rel="stylesheet" media="screen">

</head>

<body>

    <!-- Preloader Start -->
    <div class="preloader">
        <div class="loading-container">
            <div class="loading"></div>
            <div id="loading-icon"><img src="@Url.Content("~/Assets/images/loader.svg")" alt=""></div>
        </div>
    </div>
    <!-- Preloader End -->
    <!-- Header Start -->
    <header class="main-header">
        <div class="header-sticky">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- Navbar Toggler -->
                    <div class="navbar-toggle"></div>
                    <!-- Navbar Toggler -->
                    <!-- Logo Start -->
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="@Url.Content("~/Assets/images/logo.svg")" alt="Logo">
                    </a>
                    <!-- Logo End -->
                    <!-- Main Menu Start -->
                    <div class="collapse navbar-collapse main-menu">
                        <div class="nav-menu-wrapper">
                            <ul class="navbar-nav mr-auto spn-header-color" id="menu">
                                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">صفحه اصلی</a></li>

                                <!--class="highlighted-menu" for hid in big menu and show just mobile menu-->
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">
                                        تماس با
                                        ما
                                    </a>
                                </li>
                                <li class="nav-item submenu">
                                    <a class="nav-link" href="#">تیم ما</a>
                                    <ul>
                                        <li class="nav-item"><a class="nav-link" asp-controller="Agent" asp-action="Index">تیم ما</a></li>
                                        <!-- <li class="nav-item"><a class="nav-link" href="testimonial.html">گواهینامه
                                            ها</a></li> -->
                                    </ul>
                                </li>
                                @if(User.Identity!.IsAuthenticated)
                                {
                                    <li class="nav-item submenu">
                                        <a class="nav-link" href="#">@User.FindFirst(ClaimTypes.Name).Value</a>
                                        <ul>
                                            <li class="nav-item">
                                                <form class="nav-link" asp-area="Profile" asp-controller="Auth" asp-action="Logout" method="post">
                                                    <button type="submit">خروج از حساب</button>
                                                </form>
                                            </li>
                                            <!-- <li class="nav-item"><a class="nav-link" href="testimonial.html">گواهینامه
                                                ها</a></li> -->

                                        </ul>
                                    </li>

                                }
                            </ul>
                        </div>
                    </div>
                    <!-- Main Menu End -->
                    <!-- Header Btn Start -->
                    <div class="header-btn d-inline-flex">
                        <!-- <a href="Profile/register.html" class="btn-default btn-highlighted">
                            <span class="fa fa-user d-flex d-lg-none"></span>
                            <span class="d-none d-lg-flex">ثبت نام</span>
                             </a> -->
                        <!-- if not registered -->

                        <div class="btn-group">
                            <div class="dropdown">
                            @if(User.Identity!.IsAuthenticated){
                                <a asp-area="Profile" asp-controller="Home" asp-action="Index"
                                   class="btn-default btn-highlighted "
                                   aria-expanded="false" data-bs-auto-close="outside">
                                    <span class="fa fa-user d-flex d-lg-none"></span>

                                    <span class="d-none d-lg-flex">پروفایل</span>
                                </a>
                                }else{
                                    <a asp-area="Profile" asp-controller="Auth" asp-action="Register"
                                   class="btn-default btn-highlighted "
                                   aria-expanded="false" data-bs-auto-close="outside">
                                    <span class="fa fa-user d-flex d-lg-none"></span>

                                    <span class="d-none d-lg-flex">ورود یا ثبت نام</span>
                                </a>
                                }

                            </div>
                        </div>
                        <!-- if registered -->
                        <!-- <div class="btn-group ">
                            <a href="Profile/register.html" type="button"
                                class="btn-default btn-highlighted dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span class="fa fa-user d-flex d-lg-none"></span>
                                <span class="d-none d-lg-flex">پروفایل</span>
                            </a>
                            <ul class="dropdown-menu spn-logined">
                                <li><a class="dropdown-item spn-logined" href="Profile/register.html">پروفایل کاربری</a>
                                </li>
                                <li><a class="dropdown-item spn-logined" href="#">پشتیبانی</a></li>
                                <li><a class="dropdown-item spn-logined" href="#">تیکت ها</a></li>
                                <li><a class="dropdown-item spn-logined" href="#">سفارشات تکمیل شده</a></li>
                                <hr />
                                <li><a class="dropdown-item spn-logined" href="#">خروج</a></li>
                            </ul>
                        </div> -->
                    </div>
                    <!-- Header Btn End -->
                </div>
            </nav>
            <div class="responsive-menu"></div>
        </div>
    </header>
    <!-- Header End -->
		@RenderBody()

    <div id="scroll-percentage"><span id="scroll-percentage-value"></span></div>

    <!-- Footer Section Start -->
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Footer Newsletter Box Start -->
                    <div class="footer-newsletter-box">
                        <!-- Footer Newsletter Title Start -->
                        <div class="footer-newsletter-title">
                            <h3> اشتراک را از دست ندهید!</h3>
                        </div>
                        <!-- Footer Newsletter Title End -->
                        <!-- Newsletter Form start -->
                        <div class="newsletter-form">
                            <form id="newsletterForm" action="#" method="POST">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" id="mail"
                                           placeholder="ایمیل خود را وارد کنید" required="">
                                    <button type="submit" class="newsletter-btn">
                                        <img src="@Url.Content("~/Assets/images/arrow-white.svg")"
                                             alt="">
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!-- Newsletter Form end -->
                    </div>
                    <!-- Footer Newsletter Box End -->
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <!-- Footer Links Start -->
                    <div class="footer-links">
                        <h3>پشتیبانی</h3>
                        <ul>
                            <li><a href="contact.html">تماس با ما</a></li>
                            <li><a href="#">سیاست حفظ حریم خصوصی</a></li>
                        </ul>
                    </div>
                    <!-- Footer Links End -->
                </div>

                <div class="col-lg-2  col-md-4">
                    <!-- Footer Links Start -->
                    <div class="footer-links">
                        <h3>خدمات</h3>
                        <ul>
                            <li><a href="service-single.html">سایت های فروشگاهی</a></li>
                            <li><a href="service-single.html">سایت های شخصی</a></li>
                            <li><a href="service-single.html">برنامه های ویندوزی</a></li>
                            <li><a href="service-single.html">پشتیبانی سایت</a></li>
                        </ul>
                    </div>
                    <!-- Footer Links End -->
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <!-- Footer Links Start -->
                    <div class="footer-links">
                        <h3>نماد اعتماد</h3>
                        <ul>
                            <li><a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=632561&Code=glfGt83gOkg9wQcSndUFEaZHSxrUhEh5'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=632561&Code=glfGt83gOkg9wQcSndUFEaZHSxrUhEh5' alt='' style='cursor:pointer' code='glfGt83gOkg9wQcSndUFEaZHSxrUhEh5'></a></li>
                        </ul>
                    </div>
                    <!-- Footer Links End -->
                </div>

                <div class="col-lg-12">
                    <!-- About Footer Start -->
                    <div class="footer-cta-box">
                        <!-- Footer Logo Start -->
                        <div class="footer-logo">
                            <img src="@Url.Content("~/Assets/images/footer-logo.svg")" alt="">
                        </div>
                        <!-- Footer Logo End -->
                        <!-- Footer Contact Box Start -->
                        <div class="footer-contact-box">
                            <!-- Footer Contact Item Start -->
                            <div class="footer-contact-item">
                                <p>نیاز به کمک!</p>
                                <a href="tel:+989147148214"><h3 dir="ltr">09147148214</h3></a>
                            </div>
                            <!-- Footer Contact Item End -->
                            <!-- Footer Contact Item Start -->
                            <div class="footer-contact-item">
                                <p>ایمیل فعال</p>
                                <a href="mailto:software.SPN.team@gmail.com"><h3>software.SPN.team</h3></a>
                            </div>
                            <!-- Footer Contact Item End -->
                        </div>
                        <!-- Footer Contact Box End -->
                    </div>
                    <!-- About Footer End -->
                </div>
            </div>

            <!-- Footer Copyright Section Start -->
            <div class="footer-copyright">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <!-- Footer Copyright Start -->
                        <div class="footer-copyright-text">
                            <a href="https://t.me/SoftwareSPN">
                                <p>Software_SPN</p>
                            </a>
                        </div>
                        <!-- Footer Copyright End -->
                    </div>

                    <div class="col-md-7">
                        <!-- Footer Menu Start -->
                        <div class="footer-menu">
                            <ul>
                                <li><a href="https://rubika.ir/software_spn">روبیکا</a></li>
                                <li><a href="https://t.me/SoftwareSPN">تلگرام</a></li>
                                <li><a href="https://wa.me/989147148214">واتساپ</a></li>
                                <li><a href="https://www.instagram.com/software_spn?igsh=ZzdzaXAyMGE0YWQ3">اینستاگرام</a></li>
                            </ul>
                        </div>
                        <!-- Footer Menu End -->
                    </div>
                </div>
            </div>
            <!-- Footer Copyright Section End -->
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Jquery Library File -->
    <script src="@Url.Content("~/Assets/css-js/js/jquery-3.7.1.min.js")"></script>
    <!-- Bootstrap js file -->
    <script src="@Url.Content("~/Assets/css-js/js/bootstrap.min.js")"></script>
    <!-- for dropdawn on profile -->
    <script src="@Url.Content("~/Assets/css-js/js/bootstrap.bundle.min.js")"></script>
    <!-- Validator js file -->
    <script src="@Url.Content("~/Assets/css-js/js/validator.min.js")"></script>
    <!-- SlickNav js file -->
    <script src="@Url.Content("~/Assets/css-js/js/jquery.slicknav.js")"></script>
    <!-- Swiper js file -->
    <script src="@Url.Content("~/Assets/css-js/js/swiper-bundle.min.js")"></script>
    <!-- Counter js file -->
    <script src="@Url.Content("~/Assets/css-js/js/jquery.waypoints.min.js")"></script>
    <script src="@Url.Content("~/Assets/css-js/js/jquery.counterup.min.js")"></script>
    <!-- Magnific js file -->
    <script src="@Url.Content("~/Assets/css-js/js/jquery.magnific-popup.min.js")"></script>
    <!-- SmoothScroll -->
    <script src="@Url.Content("~/Assets/css-js/js/SmoothScroll.js")"></script>
    <!-- Parallax js -->
    <script src="@Url.Content("~/Assets/css-js/js/parallaxie.js")"></script>
    <!-- MagicCursor js file -->
    <script src="@Url.Content("~/Assets/css-js/js/gsap.min.js")"></script>
    <script src="@Url.Content("~/Assets/css-js/js/magiccursor.js")"></script>
    <!-- Text Effect js file -->
    <script src="@Url.Content("~/Assets/css-js/js/ScrollTrigger.min.js")"></script>
    <!-- YTPlayer js File -->
    <script src="@Url.Content("~/Assets/css-js/js/jquery.mb.YTPlayer.min.js")"></script>
    <!-- Wow js file -->
    <script src="@Url.Content("~/Assets/css-js/js/wow.min.js")"></script>
    <!-- Main Custom js file -->
    <script src="@Url.Content("~/Assets/css-js/js/function.js")"></script>
    <!-- Main Custom js Scroll % -->
    <script src="@Url.Content("~/Assets/css-js/scrollcssjs/js/main.js")"></script>
    <!-- Crisp -->
    <script src="@Url.Content("~/Assets/css-js/js/crisp.js")"></script>
</body>

</html>