@model Site.Endpoint.Areas.Profile.ViewModels.LoginViewModel
@using System.Security.Claims
@{
    ViewBag.Title = "title";
    Layout = null;
    var successMessage = TempData["Success"] as string;
    var errorMessage = TempData["Error"] as string;
}

@if (successMessage != null)
{
    <div class="alert alert-success" role="alert">
        @successMessage
    </div>
}
@if (errorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}

<!DOCTYPE html>
<html lang="fa-Ir" dir="rtl">

<head>
    <!--=====================================
                    META TAG PART START
        =======================================-->
    <!-- REQUIRE META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- title -->
    <title>ورود SPN</title>
    <!-- AUTHOR META -->
    <meta name="author" content="mironcoder">
    <meta name="email" content="salehjamei.khiyavi@gmail.com">
    <meta name="profile" content="https://themeforest.net/user/mironcoder">

    <!-- TEMPLATE META -->
    <meta name="name" content="software-SPN">
    <meta name="title" content="SPN - eCommerce HTML Template">
    <meta name="keywords"
          content="programing team, software, website, applications, shop, store, html, bootstrap, template, webshop, online store">
    <!--=====================================
                    META-TAG PART END
        =======================================-->
    <!--=====================================
                    CSS LINK PART START
        =======================================-->
    <!-- FAVICON -->
    <link rel="icon" href="@Url.Content("~/Profile/images/favicon.svg")">

    <!-- FONTS -->
    <link rel="stylesheet" href="@Url.Content("~/Profile/fonts/flaticon/flaticon.css")">
    <link rel="stylesheet" href="@Url.Content("~/Profile/fonts/icofont/icofont.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Profile/fonts/fontawesome/fontawesome.min.css")">

    <!-- VENDOR -->
    <link rel="stylesheet" href="@Url.Content("~/Profile/vendor/bootstrap/bootstrap.min.css")">

    <!-- CUSTOM -->
    <link rel="stylesheet" href="@Url.Content("~/Profile/css/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/Profile/css/user-auth.css")">
    <!--=====================================
    CSS LINK PART END
    =======================================-->
</head>

<body>
    <section class="user-form-part">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-12 col-lg-12 col-xl-10">
                    <div class="user-form-card">
                        <div class="user-form-title">
                            <h2>خوش آمدید!</h2>
                            <p>عضو هستید؟با اطلاعات خود وارد شوید.</p>
                        </div>
                        <div class="user-form-group">
                            <ul class="user-form-social">
                                @* 	<li> *@
                                @* 		<a href="#" class="facebook"> *@
                                @* 			<i class="fab fa-facebook-f"></i>ورود با استفاده از *@
                                @* 			فیسبوک *@
                                @* 		</a> *@
                                @* 	</li> *@
                                @* 	<li> *@
                                @* 		<a href="#" class="twitter"><i class="fab fa-twitter"></i>ورود با استفاده توییتر</a> *@
                                @* 	</li> *@
                                <li>
                                    <a href="#" class="google"><i class="fab fa-google"></i>ورود با استفاده از گوگل</a>
                                </li>
                                @* <li> *@
                                @* 	<a href="#" class="instagram"> *@
                                @* 		<i class="fab fa-instagram"></i>ورود با استفاده از *@
                                @* 		اینستاگرام *@
                                @* 	</a> *@
                                @* </li> *@
                            </ul>
                            <div class="user-form-divider">
                                <p>یا</p>
                            </div>
                            <form class="user-form" asp-area="Profile" asp-controller="Auth" asp-action="Login" method="post">
                                <div class="form-group">
                                    <input asp-for="email" type="email" class="form-control" placeholder="آدرس ایمیل خود را وارد کنید">
                                </div>
                                <div class="form-group">
                                    <input asp-for="Password" type="password" class="form-control" placeholder="پسوورد خود را وارد کنید">
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" value="" id="check">
                                    <label class="form-check-label" for="check">مرا به خاطر بسپار</label>
                                </div>
                                <div class="form-button">
                                    <button type="submit">ورود</button>
                                    <p>پسوورد خود را فراموش کردید؟<a>بازیابی پسوورد</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="user-form-remind">
                        <p>هیچ حساب کاربری ندارید؟<a asp-area="Profile" asp-controller="Auth" asp-action="Register">ثبت نام کنید</a></p>
                    </div>
                    <div class="user-form-footer">
                        <p>Software SPN | <a href="https://wa.me/989147148214">SPN team</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="@Url.Content("~/Profile/vendor/bootstrap/jquery-1.12.4.min.js")"></script>
    <script src="@Url.Content("~/Profile/vendor/bootstrap/popper.min.js")"></script>
    <script src="@Url.Content("~/Profile/vendor/bootstrap/bootstrap.min.js")"></script>
    <!-- CUSTOM -->
    <script src="@Url.Content("~/Profile/js/main.js")"></script>
    <!-- Crisp -->
    <script type="text/javascript" src="@Url.Content("~/Assets/css-js/js/crisp.js")"></script>

</body>

</html>