@model IEnumerable<Site.Query.Projects.Dtos.ProjectDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var successMessage = TempData["Success"] as string;
    var errorMessage = TempData["Error"] as string;
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
@if (successMessage != null)
{
	<div class="alert alert-success" role="alert">
		@successMessage
	</div>
}
@if (errorMessage != null)
{
	<div class="alert alert-danger" role="alert">
		@errorMessage
	</div>
}
<table class="table">
	<thead>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Slug)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Description)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.MainImageName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CreatedDate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.UpdatedDate)
		</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Slug)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MainImageName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CreatedDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.UpdatedDate)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td>
		</tr>
	}
	</tbody>
</table>
