@using Site.Domain.Agents.Enums
@model List<Site.Query.Agents.Dtos.AgentDto>
@{
	Layout = "_Layout";
	var successMessage = TempData["Success"] as string;
	var errorMessage = TempData["Error"] as string;
}

@if (successMessage != null)
{
	<div class="alert alert-success" role="alert">
		@successMessage
	</div>
}
@if (errorMessage != null)
{
	<div class="alert alert-danger" role="alert">
		@errorMessage
	</div>
}

<div class="container-fluid p-0 m-0" dir="rtl">
	<div class="row no-gutters mt-5">
		<div class="col-12">
			<div class="card h-100">
				<div class="card-body">
					<h4 class="card-title" dir="rtl">@ViewData["Admin-Title"]</h4>
					<div class="table-responsive">
						<table class="table table-bordered table-striped w-100">
							<thead>
							<tr>
								<th class="text-center font-weight-bold">نام و نام خانوادگی</th>
								<th class="text-center font-weight-bold">شماره تلفن</th>
								<th class="text-center font-weight-bold">ایمیل</th>
								<th class="text-center font-weight-bold">وضعیت</th>
								<th class="text-center font-weight-bold">عملیات</th>
							</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td class="text-center" >@item.FullName</td>
										<td class="text-center" >@item.PhoneNumber</td>
										<td class="text-center" >@item.Email</td>
										<td class="text-center" >
											@if (item.Status == AgentStatus.InActive)
											{
												<label class="badge badge-danger">غیرفعال</label>
											}
											@if (item.Status == AgentStatus.Active)
											{
												<label class="badge badge-success">فعال</label>
											}
											@if (item.Status == AgentStatus.Admin)
											{
												<label class="badge badge-primary">ادمین</label>
											}
											@if (item.Status == AgentStatus.Owner)
											{
												<label class="badge badge-warning">میدیریت</label>
											}
										</td>
										<td>
											<a asp-area="Admin" asp-controller="AdminAgent" asp-action="ChangeStatus" asp-route-slug="@item.Slug"><p class="badge badge-primary">تغییر وضعیت</p></a>
											<a asp-area="Admin" asp-controller="AdminAgent" asp-action="Edit" asp-route-slug="@item.Slug"><p class="badge badge-success">ویرایش</p></a>

										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
